<div class="w-50 m-auto mt-4">
    {{ form_start(wishesForm) }}
        {{ form_row(wishesForm.image) }}
        {{ form_row(wishesForm.titre) }}
        {{ form_row(wishesForm.description) }}
        {{ form_row(wishesForm.prix) }}
        <div class="d-flex justify-content-evenly">
            <button class="btn btn-primary w-25" type="submit">{{ button_label|default('Ajouter') }}</button>
            <a href="{{ path('app_wishes') }}" class="btn btn-danger w-25">Annuler</a>
        </div>
    {{ form_end(wishesForm) }}
</div>